@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden !important;
  height: auto;
  background-color: #f6f6f6;
}

.main-container {
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
}

.main-container .fund-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("./images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% 35rem;
  gap: 23rem;
  padding-bottom: 5rem;
}

.main-container .fund-container .fund-navbar {
  width: 80%;
  margin-bottom: auto;
  padding-top: 3rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .fund-container .fund-navbar .fund-navbar-links-left .pledge-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .fund-container .fund-navbar .fund-navbar-links-left .pledge-nav-ul .pledge-nav-list {
  list-style: none;
  margin-right: 1.6rem;
}

.main-container .fund-container .fund-navbar .fund-navbar-links-left .pledge-nav-ul .pledge-nav-list .nav-link {
  font-size: 1.6rem;
  color: #f2f2f2;
  text-decoration: none;
}

.main-container .fund-container .fund-pledge-container {
  width: 50vw;
  border-radius: 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main-container .fund-container .fund-pledge-container .fund-pledge-agency-logo {
  position: absolute;
  top: -3%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail {
  background: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-name {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.8rem;
  margin-top: 1rem;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  color: black;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-bio {
  font-size: 1.2rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  color: #7a7a7a;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container .btn-back {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  background-color: #3cb4ac;
  color: #fff;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container .btn-back:hover {
  background-color: #147b74;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container .btn-bookmark {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  background-color: #7a7a7a;
  padding: 0;
  padding-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container .btn-bookmark .bookmark-icon {
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 1rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail {
  background: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail .fund-detail-container {
  width: 80%;
  -webkit-column-count: 3;
          column-count: 3;
  text-align: center;
  -webkit-column-rule: 1px solid lightgray;
          column-rule: 1px solid lightgray;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail .fund-detail-container > * h2 {
  font-size: 1.8rem;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail .fund-detail-container > * p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail .pledge-agency-fund-progress-bar {
  width: 100%;
  height: 1rem;
  background-color: #f2f2f2;
  border-radius: 100vw;
  margin-top: 2rem;
  position: relative;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-fund-detail .pledge-agency-fund-progress-bar::before {
  position: absolute;
  content: "";
  width: var(--progress-width);
  height: 100%;
  border-radius: 100vw;
  top: 0;
  left: 0;
  background-color: #147b74;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about {
  background: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .about-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: "Commissioner", sans-serif;
  margin-bottom: 1.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-info p {
  font-size: 1.2rem;
  font-family: "Commissioner", sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 2rem;
  color: #7a7a7a;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card {
  background: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #f2f2f2;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-top .pledge-card-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: "Commissioner", sans-serif;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-top .pledge-card-pay {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3cb4ac;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-info {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Commissioner", sans-serif;
  color: #7a7a7a;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom .left-pay-count {
  font-size: 1.8rem;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom .left-pay-count span {
  color: #7a7a7a;
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 0.5rem;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom .pledge-card-btn {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  color: #fff;
  background-color: #3cb4ac;
}

.main-container .fund-container .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom .pledge-card-btn:hover {
  background-color: #147b74;
}

.main-container .pledg-payment-success {
  z-index: 20;
  width: 25vw;
  height: 30rem !important;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 2rem;
  display: none;
}

.main-container .pledg-payment-success .check {
  margin: auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #3cb4ac;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 2.6rem;
}

.main-container .pledg-payment-success .check > i {
  font-size: 2rem !important;
  color: #fff;
  z-index: 100;
  -webkit-animation: grow 1000ms ease-in;
          animation: grow 1000ms ease-in;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transform-origin: left;
          transform-origin: left;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
}

.main-container .pledg-payment-success .payment-greet {
  text-align: center;
  font-size: 1.6rem;
  font-style: "Commissioner", sans-serif;
  font-weight: bold;
  margin-bottom: 1.6rem;
}

.main-container .pledg-payment-success .payment-msg {
  font-size: 1.2rem;
  color: #7a7a7a;
  line-height: 2rem;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  margin-bottom: 1.6rem;
}

.main-container .pledg-payment-success .payment-btn {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  background-color: #3cb4ac;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin: auto;
}

.main-container .pledg-payment-success .payment-btn:hover {
  background-color: #147b74;
}

.main-container .pledge-agency-payment-card {
  width: 50vw;
  height: auto;
  background-color: #fff;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  -webkit-box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2.4rem 3.4rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 2rem;
  display: none;
}

.main-container .pledge-agency-payment-card .close {
  padding: 0.5rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: black;
  text-align: right;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  color: black;
  margin-bottom: 1.6rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-bio {
  font-size: 1.2rem;
  font-weight: 400;
  color: #7a7a7a;
  font-family: "Commissioner", sans-serif;
  margin-bottom: 1.6rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card {
  background: #fff;
  padding: 3rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.6rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right * {
  margin-right: 1rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right > input {
  color: #3cb4ac;
  width: 1.6rem;
  height: 1.6rem;
  display: block;
  cursor: pointer;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right .heading .payment-card-title,
.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right .heading .payment-card-reward {
  font-size: 1.4rem;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-card-right .heading .payment-card-reward {
  color: #3cb4ac;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-count-left .count-left {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-count-left .count-left span {
  font-size: 1.2rem;
  color: #7a7a7a;
  margin-left: 0.5rem;
  font-weight: 400;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .card-info {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  padding-left: 2.6rem;
  font-family: "Commissioner", sans-serif;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .border {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 1px;
  background-color: lightgray;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom {
  display: none;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom > input {
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  font-size: 1.2rem;
  font-family: "Commissioner", sans-serif;
  margin-right: 0.5rem;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
  padding: 1.5rem 0.5rem;
  border: 1px solid lightgray;
  border-radius: 100vw;
  font-size: 1.2rem;
  font-family: "Commissioner", sans-serif;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .amount > input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  cursor: text;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .amount > input::-webkit-outer-spin-button, .main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .amount > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .amount span {
  font-size: 1.4rem;
  font-weight: bold;
  color: #7a7a7a;
  font-family: "Commissioner", sans-serif;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .btn {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  background-color: #3cb4ac;
  color: white;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .btn:hover {
  background-color: #147b74;
}

.main-container .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .show {
  display: block !important;
}

.main-container .pledge-agency-payment-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: none;
}

.null {
  position: relative;
}

.null::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2)) !important;
  background: linear-gradient(#f2f2f2) !important;
  background-size: 100% 100%;
}

.null .pledge-card-btn {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  color: #fff;
  background-color: #f2f2f2 !important;
}

@media only screen and (max-width: 768px) {
  .fund-navbar-links-left {
    position: absolute;
    top: 2%;
    left: 50%;
    display: none;
    width: 90% !important;
    margin-top: 1.6rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .show-nav {
    display: block !important;
    -webkit-animation: trans 250ms ease-in forwards;
            animation: trans 250ms ease-in forwards;
  }
  @-webkit-keyframes trans {
    0% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(-50%);
              transform: translateY(0%) translateX(-50%);
    }
  }
  @keyframes trans {
    0% {
      -webkit-transform: translateY(-50%) translateX(-50%);
              transform: translateY(-50%) translateX(-50%);
    }
    100% {
      -webkit-transform: translateY(0%) translateX(-50%);
              transform: translateY(0%) translateX(-50%);
    }
  }
  .pledge-nav-ul {
    padding: 1.5rem;
    width: 100% !important;
    background-color: #fff;
  }
  .pledge-nav-ul .pledge-nav-list {
    width: 100% !important;
    text-align: left;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid lightgray;
  }
  .pledge-nav-ul .pledge-nav-list .nav-link {
    color: black !important;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
  }
  .fund-pledge-container {
    width: 80vw !important;
  }
  .fund-pledge-container .fund-pledge-agency-logo {
    top: -2% !important;
  }
  .fund-pledge-container .pledge-agency-detail .pledge-agency-btn-container .btn-bookmark {
    font-size: 0rem !important;
    padding-right: 0 !important;
    background-color: #fff !important;
  }
  .fund-pledge-container .pledge-agency-fund-detail .fund-detail-container {
    width: 100% !important;
    -webkit-column-count: 0 !important;
            column-count: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .fund-pledge-container .pledge-agency-fund-detail .fund-detail-container div {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid lightgray !important;
  }
  .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card {
    padding: 1.6rem !important;
  }
  .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-top .pledge-card-title {
    margin-bottom: 1rem;
  }
  .fund-pledge-container .pledge-agency-about .pledge-agency-about-container .pledge-agency-card .pledge-card-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    gap: 1rem;
  }
  .pledge-agency-payment-card {
    width: 80vw !important;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .main-top {
    position: relative;
    margin-bottom: 3rem;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .heading .payment-card-title {
    margin-bottom: 0.5rem;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .payment-card-top .payment-count-left {
    position: absolute;
    bottom: -10%;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pledge-agency-payment-card .payment-agency-payment-card-container .paymet-card .bottom .pledge-message {
    margin-bottom: 1.6rem;
  }
  .pledg-payment-success {
    width: 80vw !important;
    -webkit-transform: translate(-50%, -80%) !important;
            transform: translate(-50%, -80%) !important;
  }
}
/*# sourceMappingURL=style.css.map */